.category-btn {
  display: inline-block;
  padding: 0.5rem;
  border: 0;
  outline: 0;
  background: $c-success;
  color: $c-white;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;

  &--danger {
    background: $c-warning;
  }

  &.active {
    background: $c-primary;
  }
}

.options {
  width: 100%;
  border: 0;
  background: $c-white;
  border-collapse: collapse;
  box-shadow: $box-shadow;

  &__row {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;

    &--gray {
      background: $c-gray;
      font-weight: bold;
    }

    &--flex {
      display: flex;
    }

    // &:hover {
    //   background: $c-gray;
    // }

    &--end {
      justify-content: flex-end;
    }
  }
}
