$c-primary: #265762;
$c-secondary: adjust-hue(#265762 , 120deg);
$c-white: #fff;
$c-black: #261c1b;
$c-gray: #e8e8e8;
$c-dark-gray: #261c1b;
$c-success: #5eab9b;
$c-warning: #c42332;

$m-gutter: 1rem;
$m-container: 70rem;

$box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.4);
@import 'reset';
@import 'layout';
@import 'section';
@import 'top-nav';
@import 'card';
@import 'admin';
@import 'form';

.title {
  border-bottom: 0.1rem solid $c-black;
  font-weight: bold;
}

.hero {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  background: $c-secondary;
  color: $c-white;
}
