<p class="title">Categories</p>
<div class="options">
  <div class="options__row options__row--end">
    {{#link-to "admin.category.new" class="category-btn" }}Add New{{/link-to}}
  </div>
  {{#each model as |value|}}
    <div class="options__row">
      <span>{{ value.name }}</span>
      <span>{{#link-to "admin.category.detail"}}Details{{/link-to}}</span>
    </div>
  {{/each}}
</div>
