{{ outlet }}
  <p class="title">Categories</p>
  <div class="options">
    <div class="options__row options__row--end">
      <button class="category-btn">Add New</button>
    </div>
    {{#each model as |value|}}
    <div class="options__row">
    {{ value.name }}
    {{#link-to "admin.category"}}Details{{/link-to}}
    </div>
    {{/each}}
  </div>
