<p class="title">Categories</p>
<table class="options">
  <div class="options__row">
    {{#link-to "admin.item.edit" class="category-btn category-btn--danger" }}Delete{{/link-to}}
    {{#link-to "admin.category.new-item" class="category-btn" }}Add New Menu Item{{/link-to}}
  </div>
  <thead class="options__row options__row--gray">
    <span>Name</span>
  </thead>
  {{#each model as |value|}}
  <tbody class="options__row options__row--flex">
      <span>{{ value.name }}</span>
      <span>{{#link-to "admin.category.detail" value.id}}Details{{/link-to}}</span>
    </tbody>
  {{/each}}
</table>
