<div class="app">
  <div class="app__top">
    <div class="container">
      <nav class="top-nav">
        <div class="top-nav__group">
          <p class="top-nav__item"><a href="#">Emberial Thai</a></p>
        </div>

        <ul class="top-nav__group">
          <li class="top-nav__item"><a href="#">Order</a></li>
          <li class="top-nav__item"><a href="#">Admin</a></li>
          <li class="top-nav__item"><a href="#">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="app__content">
    {{ outlet }}
  </div>
</div>
