<div class="app">
  <div class="app__top">
    <div class="container">
      <nav class="top-nav">
        <div class="top-nav__group">
          <p class="top-nav__item">{{#link-to "index"}}Emberial Thai{{/link-to}}</p>
        </div>

        <ul class="top-nav__group">
          <li class="top-nav__item">{{#link-to "index"}}Order{{/link-to}}</li>
          <li class="top-nav__item">{{#link-to "admin"}}Admin{{/link-to}}</li>
          <li class="top-nav__item"><a href="#">Login</a></li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="app__content">
    {{ outlet }}
  </div>
</div>
