
<p class="title">{{ model.name }}</p>
<div class="options">
  <div class="options__row options__row--end">
    {{#link-to "admin.category.new-item" class="category-btn" }}Add New{{/link-to}}
  </div>
    {{#each model.menuItems as |item|}}
      <div class="options__row">
        <span>{{ item.name }}</span>
        <span><a href="">Details</a></span>
      </div>
    {{/each}}
</div>
